<h1>ABOUT</h1>
<p>This is a Node/Express app for jotting down ideass for future Youtube videos</p>
<p>A user can register and write down video ideas</p>
<p>A user can login via google/facebook</p>
<p>Basic CRUD application</p>
<p>Version: 1.0.0</p>